# Intro till Pandas

In [9]:
import pandas as pd 

data = dict(AI = 30, NET = 25, APP = 27, Java = 23)
series = pd.Series(data = data)


series

AI      30
NET     25
APP     27
Java    23
dtype: int64

In [19]:
print(f"series[0] : {series[0]}")
print(f"series[-1] : {series[-1]}")

print(f"series.keys() : {series.keys()}")
print(f"series.keys()[1] : {series.keys()[1]}")

series[0] : 30
series[-1] : 23
series.keys() : Index(['AI', 'NET', 'APP', 'Java'], dtype='object')
series.keys()[1] : NET

In [ ]:
print(f"series[0] : {series[0]}")
print(f"series[-1] : {series[-1]}")

print(f"series.keys()[1] : {series.keys()[1]}")

series[0] : 30
series[-1] : 23
series.keys()[1] : NET

## DataFrames

In [21]:
df = pd.DataFrame(series)

df

       0
AI    30
NET   25
APP   27
Java  23

In [29]:
df = pd.DataFrame(series,columns=["Number of students",])
df

      Number of students
AI                    30
NET                   25
APP                   27
Java                  23

In [36]:
languages = pd.Series(dict(AI="Python",NET="C#",APP="Kotlin", Java="Java "))

df = pd.DataFrame({"Students":series , "Language" : languages})

df

      Students Language
AI          30   Python
NET         25       C#
APP         27   Kotlin
Java        23    Java

In [37]:
df_programs = pd.DataFrame({ "Students": np.array((25, 30, 30, 27)), "Language": np.array(("Python", "C#", "Kotlin", "Java"))}, index = ["AI", ".NET", "APP", "Java"])

df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [ ]:


fig = px.bar(sweden, x="year", y="pop", labels={"pop":"Population","year":"Year"}, title ="Sweden population 1052 - 2007")

fig.show()